.section.lhs-home-container {
    padding: 0;
}


.block.lhs-home .card-button {
    margin-left: 60%;
    width: 10vw;
    height: 6vh;
    margin-bottom: 40px;
    padding: 0;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgba(0 0 0 / 19%);
}

.block.lhs-home > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 110%;
}

.block.lhs-home > div:first-child > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.block.lhs-home > div:first-child > div h4 {
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 15px;
}

.block.lhs-home .lhs-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    height: 40vh;
    margin-bottom: 20px;
    gap: 30px;
}

.block.lhs-home .lhs-card > .card-content {
    flex-basis: 60%;
    background-color: #f2f5f5
}

.block.lhs-home .lhs-card > .card-score {
    flex-basis: 40%;
    background-color: #f2f5f5
}

.block.lhs-home .lhs-card > .card-content:first-child h2 {
padding-left: 10px;
font-size: var(--heading-font-size-m);
color: #4c7574;
font-weight: bold;
text-shadow: 1px 1px black
}

.block.lhs-home .lhs-card > .card-content:first-child h2::after {
    content: "";
    padding-left: 10px;
    display: block;
    border-bottom: 2px solid #eb3300;
    height: 1px;
    width: 35%;
}

.block.lhs-home .lhs-card > .card-content h4 {
font-size: var(--body-font-size-xs);
color: var(--text-color);
font-weight: normal;
margin-left: 20px;
line-height: 0;
}

.block.lhs-home .triangleclass {
    width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid #f33;
}

.block.lhs-home .rectangleclass {
  height: 16px;
  width: 16px;
  background-color: #fa3;
}

.block.lhs-home .circleclass {
  height: 16px;
  width: 16px;
  background-color: #0c6;
  border-radius: 50%;
}

.block.lhs-home .lhs-card .card-score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .block.lhs-home .card-score > div:first-child {
    display: flex;
    justify-content: center;
    height: 70%;
    align-items: center;
    font-family: Lato, sans-serif;
    font-size: 16px;
}

main .block.lhs-home .card-score > div:first-child .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4b9cdb;
}

@keyframes jumping {
    0% {
      transform: translate3d(0, 0, 0);
    }
    
    50% {
      transform: translate3d(0, 15px, 0);
    }
    
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  main .block.lhs-home .card-score > div:first-child .dot:nth-last-child(1) {
    animation: jumping 0.6s 0.1s ease-in infinite;
  }

  main .block.lhs-home .card-score > div:first-child .dot:nth-last-child(2) {
    animation: jumping 0.6s 0.2s ease-in infinite;
  }

  main .block.lhs-home .card-score > div:first-child .dot:nth-last-child(3) {
    animation: jumping 0.6s 0.3s ease-in infinite;
  }

/*** <--- CIRCLE STYLES ---> ***/

main .block.lhs-home .card-score > div:first-child .circlesection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  position: absolute;
  margin-top: 50px;
}

main .block.lhs-home .card-score > div:first-child .outercircle {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #d7f5d5;
  overflow: hidden;
  transition: opacity 2s;
  opacity: 1;
}


main .block.lhs-home .card-score > div:first-child .innercircle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: #d7f5d5;
  border-radius: 50%;
  font-size: 3em;
  font-weight: bold;
  color: #0b4a07;
  transition: opacity 2s;
  opacity: 1;
}

main .block.lhs-home .card-score .card-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main .block.lhs-home .card-score .card-info button {
  background-color: white;
  color: var(--link-color);
  font: var(--body-font-size-s);
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgba(0 0 0 / 19%);
}

main .block.lhs-home .card-score .card-info .pop-up {
  width: 400px;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  transform: translate(-50%,-50%) scale(0);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 2s;
}

main .block.lhs-home .card-score .card-info .open-popup {
  visibility: visible;
  transform: translate(-50%,-50%) scale(1);
  left: 71%;
}

main .block.lhs-home .card-score .card-info .pop-up img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgba(0 0 0 / 19%);
}






  